.all {
    opacity: 1;
  }
  ul {
    width: 400px;
    display: block;
    text-decoration: none;
    margin: 5px;
    list-style: none;
    text-align:center;
  }
  
  li {
    padding: 40px;
    margin: 5px;
    text-transform: capitalize;
    border: 5px double black;
  
    outline-offset: 5px;
    outline-style: double;
    text-decoration: solid;
    font-family: "Love Light", cursive;
    font-size: 100px;

  }
  .java {
    background-color: yellow;
  }
  .javascript {
    background-color: #00f100;
  }
  .c {
    background-color: #20c520;
  }
  .cpp {
    background-color: #ff0080;
  }
  .python {
    background-color: orchid;
  }
  li:hover {
    padding: 40px;
    text-transform: capitalize;
    border: 6px solid red;
    text-decoration: solid;
    font-family: "Love Light", cursive;
    font-size: 105px;
  }
  .first {
    text-transform: uppercase;
    text-align: center;
    background: #bbb;
    color: red;
  
    text-shadow: 2px;
  }
  img {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
  }
  a.active {
    border: #00f100;
    box-sizing: border-box;
  }
  h3 {
    text-transform: capitalize;
    font-weight: inherit;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  h5 {
    text-align: right;
  }
  body option {
    height: 500px;
    width: 100%;
    background: linear-gradient(
      left right,
      black,
      grey,
      black,
      grey,
      black,
      grey
    );
    z-index: -1;
    /*zindex and linear gradient is not working above and below*/
  }
  h2 {
    text-shadow: 2px 2px yellow;
    color: red;
    background: -moz-linear-gradient(
      left right,
      black,
      grey,
      black,
      grey,
      black,
      grey
    );
  }
  